@import '../../styles/colours';

.feedback {
  margin-top: 60px;
  height: 40px;

  p {
    margin: 0px;
    padding: 10px;
    font-size: 19px;
    white-space: nowrap;
  }

  .correct {
    color: @greendark;
  }

  .incorrect {
    color: @reddark;
  }

  .instructions {
    color: @graydark;
  }

  .info-enter {
    opacity: 0.01;
  }

  .info-enter.info-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
  }

  .info-leave {
    opacity: 1;
  }

  .info-leave.info-leave-active {
    opacity: 0.01;
    transition: opacity 250ms ease-in;
  }

}